// font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$accent-color: #ff6b09;
$title-color: #111518;
$nav-color: #b9b9b9;

$default-text-color: #111518;
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;
$primary-white-color: #ffffff;

$primary-bg-color: #111518;
$transparent-bg-color: rgba(17, 21, 24, 0.9);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
