<section class="benefits section" id="benefits">
  <div class="container">
    <h2 class="title">Почему нас выбирают</h2>

    <ol class="benefits-list">
      <li class="item">Обучение в малых командах</li>
      <li class="item">Визуализированные конспекты</li>
      <li class="item">Каждое занятие имеет цель и конкретный результат</li>
      <li class="item">Ревльные результаты преподавателя</li>
      <li class="item">Прогамма курса соответствует требованиям МОН Украины</li>
      <li class="item">Набор команд по уровням знаний</li>
    </ol>
  </div>
</section>
