<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="./" class="logo link">
        <img src="./images/logo.svg" alt="Логотип Hell English" />
      </a>
      <ul class="menu list">
        <li class="item"><a href="./" class="link">Программы обучения</a></li>
        <li class="item"><a href="./" class="link">О нас</a></li>
        <li class="item"><a href="./" class="link">Варианты обучения</a></li>
        <li class="item"><a href="./" class="link">Контакты</a></li>
      </ul>
      <button type="button" class="button-call link">
        Консультация по телефону
      </button>
    </nav>
  </div>
</header>
