<section class="problems section">
  <div class="container">
    <h2 class="title">
      Главные проблемы учеников<br />
      на English ВНО, которые <br />
      мы <span class="accent">помогаем</span> решить
    </h2>

    <ol class="list">
      <li class="item">Название грамматики</li>
      <li class="item">Неумение вомпринимать устную английскую речь</li>
      <li class="item">Скупой словарный запас для написани сочинения</li>
      <li class="item">Поодготовка в одиночку</li>
      <li class="item">Отсутствие единого ресурса знаний</li>
      <li class="item">Недостаток самоорганизации и лень</li>
    </ol>
  </div>
</section>
