<section class="program section" id="program">
  <div class="wrapper">
    <div class="container">
      <h2 class="title">Наша программа</h2>

      <ol class="program-list list">
        <li class="item">
          <h3 class="program-term">семестр</h3>
          <ul class="skill-list list">
            <li class="item">
              <h4 class="skill-title">&mdash; Grammar</h4>
              <p class="skill-description">
                Nouns & Articles<br />
                Adjectives & Adverb
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Vocabulary</h4>
              <p class="skill-description">
                Family & Relations<br />
                People & Society
              </p>
            </li>
          </ul>
        </li>

        <li class="item">
          <h3 class="program-term">семестр</h3>
          <ul class="skill-list list">
            <li class="item">
              <h4 class="skill-title">&mdash; Grammar</h4>
              <p class="skill-description">
                Pronouns <br />
                Active Voice <br />
                Passive Voice
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Vocabulary</h4>
              <p class="skill-description">
                Home<br />
                School <br />
                Work
              </p>
            </li>
          </ul>
        </li>

        <li class="item">
          <h3 class="program-term">семестр</h3>
          <ul class="skill-list list">
            <li class="item">
              <h4 class="skill-title">&mdash; Grammar</h4>
              <p class="skill-description">
                Modal verbs<br />
                Infinitive<br />
                Gerund<br />
                Participle: 1, 2
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Vocabulary</h4>
              <p class="skill-description">
                Travel & Tourism <br />
                Culture & Free Time<br />
                Sport
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Writing</h4>
              <p class="skill-description">
                Informal <br />
                Letter
              </p>
            </li>
          </ul>
        </li>

        <li class="item">
          <h3 class="program-term">семестр</h3>
          <ul class="skill-list list">
            <li class="item">
              <h4 class="skill-title">&mdash; Grammar</h4>
              <p class="skill-description">
                Clauses: Conditional and Wishes <br />
                Direct / Reported speech <br />
                Preposition <br />
                Conjunction <br />
                Numeral
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Vocabulary</h4>
              <p class="skill-description">
                Healthy Living <br />
                Nature & Environment Money
              </p>
            </li>
            <li class="item">
              <h4 class="skill-title">&mdash; Writing</h4>
              <p class="skill-description">
                Formal <br />
                Letter
              </p>
            </li>
          </ul>
        </li>

        <li class="item">
          <h3 class="program-term">семестр</h3>
          <ul class="skill-list list">
            <li class="item">
              <h4 class="skill-title">&mdash;</h4>
              <p class="skill-description">Revision <br />Tests</p>
            </li>
          </ul>
        </li>
      </ol>

      <h2 class="benefits-title">Почему нас выбирают</h2>

      <ol class="benefits-list list">
        <li class="item">Обучение в малых командах</li>
        <li class="item">Визуализированные конспекты</li>
        <li class="item">Каждое занятие имеет цель и конкретный результат</li>
        <li class="item">Ревльные результаты преподавателя</li>
        <li class="item">
          Прогамма курса соответствует требованиям МОН Украины
        </li>
        <li class="item">Набор команд по уровням знаний</li>
      </ol>
    </div>
  </div>
</section>
