<section class="testimonial section" id="testimonial">
  <div class="container">
    <h2 class="title">Отзывы выпускников</h2>

    <ul class="testimonial-list list">
      <li class="item">
        <img
          src="./images/student6-mobile.png"
          alt="Фото студентки - Тоня Кучеровская"
        />
        <a href="https://vk.com"
          ><img
            src="./images/soc_vk.svg"
            alt="Ссылка на страницу Вконтакте - Тоня Кучеровская"
        /></a>
        <h3 class="student-name">Тоня Кучеровская</h3>
        <p class="student-graduation">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
        <p class="student-review">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...<br />
          <a href="#" class="link">Читать дальше </a>
        </p>
      </li>
    </ul>

    <ul class="student-thumb list">
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-1.png"
            alt="Тумба студента №1"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-2.png"
            alt="Тумба студента №2"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-3.png"
            alt="Тумба студента №3"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-4.png"
            alt="Тумба студента №4"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-5.png"
            alt="Тумба студента №5"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-6.png"
            alt="Тумба студента №6"
            class="img"
          />
        </a>
      </li>
      <li class="item">
        <a href="#">
          <img
            src="./images/student-thumb-7.png"
            alt="Тумба студента №7"
            class="img"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
